#container {
   &[data-view-type="logged-in"] {
      #user-select-landing {
         display: none !important;
      }

      #account-landing {
         display: flex !important;
      }
   }

   &[data-view-type="logged-out"] {
      #user-select-landing {
         display: flex !important;
      }

      #account-landing {
         display: none !important;
      }
   }

}