<div id="account-landing">

    <div id="account-container">

        <div class="container-overlay">
            <div id="nurse-search">
                <div class="service-type-select">
                    <div class="service-types-title">Choose a service type:</div>
                    <div class="service-types">
                        <span class="service-type">contact</span>
                        <span class="service-type">home visit</span>
                        <span class="service-type">transportation</span>
                    </div>
                </div>

                <div class="nurse-map-view">
                    <div class="nurse-list"></div>
                    <div id="map"></div>
                </div>
            </div>
        </div>

    </div>

</div>