<div id="account-landing">

    <div id="account-container">

        <div class="container-overlay">
            <div id="nurse-search">
                <div class="service-type-select">
                    <div class="service-types-title">Choose a service type:</div>
                    <div class="service-types">
                        <span class="service-type">contact</span>
                        <span class="service-type">home visit</span>
                        <span class="service-type">transportation</span>
                    </div>
                </div>

                <div class="nurse-map-view">
                    <div class="nurse-list">
                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <div class="nurse-name">Betty McPherson</div>

                                    <div class="specialization">

                                        <div class="specialization-value">
                                            pshychiatric
                                        </div>
                                    </div>
                                </span>

                                <span class="nurse-data-right">
                                    <div class="years-experience">7</div>
                                    <div class="hourly-rate">
                                        <span class="value">40</span>
                                        <span class="value-text">/hour</span>
                                    </div>
                                </span>
                            </span>
                        </div>

                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <div class="nurse-name">Scott Thompson</div>

                                    <div class="specialization">

                                        <div class="specialization-value">
                                            pediatric
                                        </div>
                                    </div>
                                </span>

                                <span class="nurse-data-right">
                                    <div class="years-experience">4</div>
                                    <div class="hourly-rate">
                                        <span class="value">70</span>
                                        <span class="value-text">/hour</span>
                                    </div>
                                </span>
                            </span>
                        </div>

                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <div class="nurse-name">Janelle Fredricks</div>

                                    <div class="specialization">

                                        <div class="specialization-value">
                                            mental health
                                        </div>
                                    </div>
                                </span>

                                <span class="nurse-data-right">
                                    <div class="years-experience">12</div>
                                    <div class="hourly-rate">
                                        <span class="value">80</span>
                                        <span class="value-text">/hour</span>
                                    </div>
                                </span>
                            </span>
                        </div>

                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <div class="nurse-name">Abby Stieglitz</div>

                                    <div class="specialization">

                                        <div class="specialization-value">
                                            home health
                                        </div>
                                    </div>
                                </span>

                                <span class="nurse-data-right">
                                    <div class="years-experience">8</div>
                                    <div class="hourly-rate">
                                        <span class="value">27</span>
                                        <span class="value-text">/hour</span>
                                    </div>
                                </span>
                            </span>
                        </div>

                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <div class="nurse-name">Andrew McMannus</div>

                                    <div class="specialization">

                                        <div class="specialization-value">
                                            geriatric
                                        </div>
                                    </div>
                                </span>

                                <span class="nurse-data-right">
                                    <div class="years-experience">22</div>
                                    <div class="hourly-rate">
                                        <span class="value">65</span>
                                        <span class="value-text">/hour</span>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>

    </div>

</div>