<div id="account-landing">

    <div id="account-container">

        <div class="container-overlay">
            <div id="nurse-search">
                <div class="service-type-select">
                    <div class="service-types-title">Choose a service type:</div>
                    <div class="service-types">
                        <span class="service-type">contact</span>
                        <span class="service-type">home visit</span>
                        <span class="service-type">transportation</span>
                    </div>
                </div>

                <div class="nurse-map-view">
                    <div class="nurse-list">
                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <span class="nurse-name">Betty McPherson</span>
                                    <span class="specialization">pshychiatric</span>
                                </span>

                                <span class="nurse-data-left">
                                    <span class="years-experience">7</span>
                                    <span class="hourly-rate">
                                        <span class="value">40</span>
                                        <span class="value-text">/hour</span>
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="nurse-list">
                        <div class="nurse" data-id="1">
                            <span class="fa fa-user"></span>
                            <span class="nurse-data">
                                <span class="nurse-data-left">
                                    <span class="nurse-name">Betty McPherson</span>
                                    <span class="specialization">pshychiatric</span>
                                </span>

                                <span class="nurse-data-left">
                                    <span class="years-experience">7</span>
                                    <span class="hourly-rate">
                                        <span class="value">40</span>
                                        <span class="value-text">/hour</span>
                                    </span>
                                </span>

                            </span>
                        </div>
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>

    </div>

</div>