<div class="header">
    <div id="brand">
        <div class="title">My Family Nurse (replace with logo)</div>
    </div>

    <div class="navbar">
        <ul class="navbar-right">
            <li>Login</li>
            <li>Sign Up</li>
        </ul>
        <ul class="navbar-left">
            <li>Map</li>
            <li>FAQ</li>
            <li>Contact</li>
        </ul>
    </div>
</div>