<div id="select-user-type">
    <div id="cta">

    </div>

    <div id="user-sections">
        <section data-user-type="patient" class="user-section"></section>
        <section data-user-type="guardian" class="user-section"></section>
        <section data-user-type="nurse" class="user-section"></section>
    </div>

</div>