<div id="user-select-landing">

    <div id="landing-container">

        <div class="container-overlay">

            <div id="learn-more-panel" class="slideable-panel active" data-slide-sequence="1">
                <span class="cta-text">
                    MyFamilyNurse is a marketplace connecting nurses to families at the very location where healthcare takes place, in the home.
                    Our Nurses educate, coach, and help you and your family navigate the healthcare system.
                </span>
                <span id="cta-learn-more">Learn More</span>
            </div>

            <div id="login-panel" class="slideable-panel" data-slide-sequence="2">

                <div class="input-message">
                    <div>Welcome Back</div>
                </div>

                <div class="input-fields">
                    <input placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <span id="login">log in</span>
                </div>

                <!--<div class="input-btns">
                    <span>log in</span>
                </div>-->
            </div>
        </div>

    </div>

    <div id="bottom-section">
        <div id="user-types">
            <section data-user-type="guardian" class="user-type">
                <img src="./img/icon_1.svg"/>
                <div class="user-type-description">
                    MyFamilyNurse charting can provide an accessible schedule or updates re: the patient that is only accessible, once an agreement is placed between the parties, and through a secure network that the caregiver can access.
                </div>
                <span class="user-btn">Guardian</span>
            </section>
            <section data-user-type="patient" class="user-type">
                <img src="./img/icon_2.svg"/>
                <div class="user-type-description">
                    Our loved ones deserve access to quality care from healthcare professionals, we are connecting them directly to registered nurses help them navigate the healthcare process and advocate for them along the way.
                </div>
                <span class="user-btn">Patient</span>
            </section>
            <section data-user-type="nurse" class="user-type">
                <img src="./img/icon_3.svg"/>
                <div class="user-type-description">
                    Treating patients in their homes helps our nurses practice better medicine because they can see the whole picture at a glance – living conditions, the functional status of their patients and the quality of care they are receiving from their care providers.
                </div>
                <span class="user-btn">Nurse</span>
            </section>
        </div>

        {{> footer }}
    </div>
</div>