$main-background-color: yellow;
$guardian-color: #7fe693;
$patient-color: #9ebfad;
$nurse-color: #46484f;

body {
   color: #c0c8dd;
   display: flex;
   align-items: stretch;
   margin: 0;
   padding: 0;

   * {
      box-sizing: border-box;
   }

   #container {
      background-color: $main-background-color;
      height: 100%;
      width: 100%;

      @import "sass/user-select";
   }
}